.bg-custom {
  background-color: #24353f;
}
  .form-control:focus {
    background-color: #24353f !important; 
    color: white !important;             
    box-shadow: none;                    
  }
  .form-control::placeholder {
    color: white;
    opacity: 1;
  }
    .custom-shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.9) !important; /* darker shadow */
  }